PVCR.DragDropExample/Service References/CloseWS/labware_weblims_close.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns="labware_weblims_close" xmlns:ns1="http://org.apache.axis2/xsd" targetNamespace="labware_weblims_close" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>labware_weblims_close</wsdl:documentation>
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="labware_weblims_close">
      <xs:element name="close">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="authToken" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="closeResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" type="xs:boolean" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="closeRequest">
    <wsdl:part name="parameters" element="ns:close" />
  </wsdl:message>
  <wsdl:message name="closeResponse">
    <wsdl:part name="parameters" element="ns:closeResponse" />
  </wsdl:message>
  <wsdl:portType name="labware_weblims_closePortType">
    <wsdl:operation name="close">
      <wsdl:input wsaw:Action="urn:close" message="ns:closeRequest" />
      <wsdl:output wsaw:Action="urn:closeResponse" message="ns:closeResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="labware_weblims_closeSoap11Binding" type="ns:labware_weblims_closePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="close">
      <soap:operation soapAction="urn:close" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="labware_weblims_closeSoap12Binding" type="ns:labware_weblims_closePortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="close">
      <soap12:operation soapAction="urn:close" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="labware_weblims_close">
    <wsdl:port name="labware_weblims_closeHttpSoap11Endpoint" binding="ns:labware_weblims_closeSoap11Binding">
      <soap:address location="http://10.110.34.133:8080/PTV5/services/labware_weblims_close.labware_weblims_closeHttpSoap11Endpoint/" />
    </wsdl:port>
    <wsdl:port name="labware_weblims_closeHttpSoap12Endpoint" binding="ns:labware_weblims_closeSoap12Binding">
      <soap12:address location="http://10.110.34.133:8080/PTV5/services/labware_weblims_close.labware_weblims_closeHttpSoap12Endpoint/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>